<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="../../css/bootstrap.min.css">
</head>
<body>
	<div class="container">
		<div class="row">
		  	<div class="col-md-1">.col-md-1</div>
			<div class="col-md-1">.col-md-1</div>
			<div class="col-md-1">.col-md-1</div>
		  	<div class="col-md-1">.col-md-1</div>
		  	<div class="col-md-1">.col-md-1</div>
		  	<div class="col-md-1">.col-md-1</div>
		  	<div class="col-md-1">.col-md-1</div>
		  	<div class="col-md-1">.col-md-1</div>
		  	<div class="col-md-1">.col-md-1</div>
		  	<div class="col-md-1">.col-md-1</div>
		  	<div class="col-md-1">.col-md-1</div>
		  	<div class="col-md-1">.col-md-1</div>
		</div>
		<div class="row">
		 	<div class="col-md-8">.col-md-8</div>
		  	<div class="col-md-4">.col-md-4</div>
		</div>
		<div class="row">
		  	<div class="col-md-4">.col-md-4</div>
		  	<div class="col-md-4">.col-md-4</div>
		  	<div class="col-md-4">.col-md-4</div>
		</div>
		<div class="row">
		  	<div class="col-md-6">.col-md-6</div>
		  	<div class="col-md-6">.col-md-6</div>
		</div>
	</div>
	 <!-- jQuery文件。务必在bootstrap.min.js 之前引入 -->
    <script src="js/jquery.min.js"></script>
    <!-- 最新的 Bootstrap 核心 JavaScript 文件 -->
    <script src="js/bootstrap.min.js"></script>   
</body>
</html>